nav {
  position: fixed;
  z-index: 6;
  width: 100%;
  height: 9vh;
  background-color: $nav-primary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  box-sizing: border-box;
  padding: 0px 10px 0px 10px;
  .nav-left {
    display: flex;
    justify-content: center;
    .gitlab {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      a {
        padding: 0px 16px 0px 0px;
        i {
          color: darkgoldenrod;
          font-size: xx-large;
        }
      }
    }
    .hamburger {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 16px;
      cursor: pointer;
      position: relative;
      a {
        padding: 0px 16px 0px 0px;

        i {
          color: white;
          font-size: xx-large;
        }
      }
      .hamburger-info{
        position: absolute;
        top: 52px;
        left: 10px;
        background-color: white;
        z-index: 1;
        width: 200px;
        border-radius: 6px;
        border: 2px solid gray;
        box-sizing: border-box;
        padding: 16px;
        li{
          a{
            text-decoration: none;
            i{
              color: black;
              font-size: 16px;
              margin: 6px 16px;
            }
          }
        }
      }
    }
  }
  .nav-right {
    display: flex;
    align-items: center;
    form {
      position: relative;
      input {
        background-color: $nav-secondary-color;
        border: none;
        border-radius: 6px;
        padding: 6px;
        &::placeholder {
          color: white;
        }
      }
      a {
        position: absolute;
        top: 6px;
        right: 6px;
      }
    }
    .squareplus {
      position: relative;
      background-color: rgb(127, 127, 233);
      padding: 6px;
      border-radius: 6px;
      margin-left: 6px;
      cursor: pointer;
      a {
        i {
          font-size: 23px;
          margin-right: 10px;
        }
      }
      .sign{
        position: absolute;
        top: 55px;
        left: 0px;
        background-color: white;
        width: 166px;
        height: 166px;
        border-radius: 6px;
        border: 2px solid gray;
        cursor: pointer;
        box-sizing: border-box;
        padding: 6px 0px 6px 6px;
        font-size: 16px;
        line-height: 22px;
      }
    }
    .sign-in {
      color: black;
      background-color: white;
      padding: 6px;
      border-radius: 6px;
      margin-left: 6px;
    }
  }
}
.sidebar-collapse {
  position: fixed;
  top: 9vh;
  background-color: #dbdbdb;
  height: 91vh;
  width: 15%;
  display: flex;
  flex-direction: column;
 justify-content: space-between;

  .sidebar{
    li {
        padding: 16px 0px 0px 16px;
        list-style: none;
        
        a {
          text-decoration: none;
          color: black;
          &.active{
            color: black;
            background-color: grey;
            padding: 10px 20px;
            border-radius: 6px;
            font-weight: bolder;
          }
          i{
              padding: 0px 3px 0px 0px;
          }
        }
      }
     
  }
 .collapser{
    display: flex;
    justify-content: flex-start;
    margin: 0px 0px 16px 26px;
     li{
         margin-left: 6px;
         list-style: none;
         a{
            text-decoration: none;
         }
     }
 }
}

.container{
  position: relative;
  top: 9vh;
  article{
    margin-left: 99px;
    border: 0.6px solid gray;
    border-radius: 6px;
    
    .article-header{
      font-weight: bolder;
    border-bottom: 0.6px;
      border-color: gray;
      border-style: solid;
      background-color: white;
      padding: 12px;
    }
    .article-info{
      box-sizing: border-box;
      padding: 26px;
    }
  }
  
  table{
    position: relative;
    left: 9%;
    border-collapse: collapse;
    width: 91%;
    border: 1px solid #f0f0f0;
    margin-bottom: 10px;
    thead{
      font-weight: bolder;
      background-color: #f0f0f0;
    }
    td,th{
      text-align: left;
      padding: 16px 9px 16px;
      border-bottom: 0.6px solid #f0f0f0;
    }
  }
}
