#form .container .row ul li .icon1, #form .container .row ul li .icon2 {
  margin-left: 6px;
  padding: 3px;
  border-radius: 6%;
  cursor: pointer; }

#form .container .row {
  display: flex;
  justify-content: center; }
  #form .container .row input {
    width: 100%;
    height: 46px;
    margin: 9px 0px 9px 0px; }
  #form .container .row button {
    margin: 0px 0px 16px 0px; }
  #form .container .row ul li {
    text-align: left;
    display: flex;
    justify-content: space-between; }
    #form .container .row ul li i {
      cursor: pointer;
      position: relative;
      top: 6px; }
    #form .container .row ul li .time {
      color: blue;
      background-color: yellow;
      padding: 3px;
      border-radius: 6%;
      margin-left: 66px; }
    #form .container .row ul li .icon1 {
      background-color: #75eb75; }
    #form .container .row ul li .icon2 {
      background-color: violet; }
